@charset "utf-8";

// ============================================================
//  object/layout/_header.scss
// ============================================================

.l-header {
    position: relative;
    contain: paint;

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: var(--color-navy);
        z-index: -1;
        background-image: linear-gradient(to right, var(--color-white) 0%, transparent 50%);

        img {
            display: block;
            width: 100%;
            filter: brightness(0.3);
            transform: translateY(-10%);
        }
    }

    &__inner {
        display: block;
        border-bottom: 10px solid var(--color-navy);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
        padding-inline: max(calc(52vw - 320px), 2vw);
        padding-block: 15px;
    }

    &__page-title {
        display: block;
        width: 100%;
        font-size: 34px;
        font-weight: 700;
        color: var(--color-gold);
        margin-block: 0;
        font-style: italic;
        transform-origin: left bottom;
        transform: scaleX(0.9);

        span {
            transform-origin: left bottom;
            display: inline-block;
            transition: transform 0.3s;
        }

        span:nth-child(1) {
            color: var(--color-white);
            transform-origin: top left;
            transform: scale(0.75);
        }

        span:nth-child(2) {
            color: var(--color-gold);
            transform: scaleX(1.2) translateX(-0.5em);
        }

        span:nth-child(3) {
            color: var(--color-white);
            transform: scale(0.95) translateX(-0.2em);
        }

        span:nth-child(4) {
            color: var(--color-white-67);
            transform: scale(0.5) translateX(-0.3em);
        }
    }

    &__version {
        width: fit-content;
        display: block;
        font-size: 12px;
        color: var(--color-white-67);
    }

    &__description {
        flex-grow: 1;
        width: calc(360px - 4vw);
        text-align: right;
        display: block;
        font-size: 12px;
        color: var(--color-white-67);
    }
}