@charset "utf-8";

// ============================================================
//  object/layout/_section.scss
// ============================================================

.l-section {
    padding-inline: 2vw;
    padding-block: 15px;
    max-width: 640px;
    margin-inline: auto;
}