@charset "utf-8";

// ============================================================
//  object/layout/_section.scss
// ============================================================

.l-section {
    padding-inline: 2vw;
    padding-block: 15px;
    max-width: 640px;
    margin-inline: auto;
}

.l-section-small {
    padding-inline: min(2vw, 5px);
    padding-block: 0.5lh 1.5lh;
}