@charset "utf-8";

// ----------------------------------------------------------------------
// global/_variables.scss
// ----------------------------------------------------------------------

// color
:root {
    --color-gold: #c8aa6e;
    --color-navy: #0C1427;
    --color-light-navy: #3b4353;
    --color-white: #fff;
}